@charset "utf-8";
/* CSS Document */

:root {
  --main-color: #5ea3a3;
  --light-color: #b9e0d6;
  --dark-color: #488b8f;
  --back-color: #faf9f9;
  --back-dark-color: #cecece;

  --dark-font: #333333;
  --light-font: #f5f5f5;
  --big-font: 1.2em;
  --sma-font: 1em;
}

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--sma-font);
  color: var(--dark-font);
  line-height: 1.5;
}

body {
  background-color: var(--back-color);
  margin: 0;
  /* position:relative; */
}

/* ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--sma-font);
  color: var(--dark-font);
}

a {
  color: orange;
  text-decoration: none;
}

 a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
} */

a img {
  border: none 0px #fff;
}

*/ h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  /* margin: 0 0 20px; */
}

#maincontent {
  background-color: var(--back-color);
  /* min-height: 100%; */
}

#footer {
  background-color: var(--dark-color);
  color: var(--light-font);
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

#footer a {
  color: var(--light-font);
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  /* height: 80px; */
  background-color: var(--main-color);
  text-align: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: var(--light-font);
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: var(--light-color);
  font-size: 17px;
  margin: 0;
  width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li {
  color: var(--dark-font);
}

#breadcrumb li+li:before {
  padding: 8px;
  color: var(--dark-font);
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: var(--dark-font);
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: var(--dark-color);
  text-decoration: underline;
}

/* ====================== Map ====================== */
.map-index {
  height: 400px;
  width: 100%;
  background-color: var(--back-color);
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: grid;
  background-color: var(--dark-color);
}

.filter-options h2 {
  justify-self: center;
  align-self: center;

  font-size: 1rem;
  font-weight: normal;

  color: var(--light-font);
}

.filter-options select {
  height: 35px;
  margin: 8px;

  border: 1px solid var(--dark-color);
  color: var(--dark-font);
  font-family: Arial, sans-serif;
  font-size: 1rem;
  background: var(--light-color);
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  margin: 10px;
  padding-left: 0;

  list-style: none;
  text-align: center;
}

#restaurants-list li {
  display: grid;
  /* justify-items: left; */
  grid-gap: 0px;
  padding: 10px;

  position: relative;

  background-color: var(--light-color);

  font-family: Arial, sans-serif;
  text-align: left;
}

#restaurants-list li:before {
  display: block;
  width: 0;

  position: absolute;
  top: 0;
  right: 0;
  content: "";

  border-width: 0px 30px 30px 0px;
  border-style: solid;
  border-color: var(--back-color) var(--back-color) var(--main-color) var(--main-color);
  background: var(--back-color);
}

#restaurants-list .restaurant-img {
  width: 100%;
  background-color: var(--back-dark-color);
}

#restaurants-list li h1 {
  color: var(--dark-color);
  font-family: Arial, sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

#restaurants-list p {
  color: var(--dark-color);
  margin: 0;
  font-size: 1.1em;
}

#restaurants-list li a {
  margin: 5px 0 5px 0;
  padding: 8px 0 10px;
  display: inline-block;

  background-color: var(--main-color);

  color: var(--light-font);
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* .inside #map-container { */
.map-detail-cont {
  position: fixed;
  right: 0;
  top: 77px;

  height: calc(100vh - 80px);
  width: 50%;

  background: grey none repeat scroll 0 0;
}

/* .inside #map { */
.map-detail {
  height: 100%;
  width: 100%;

  background-color: #ccc;
}

.inside #footer {
  bottom: 0;
  position: fixed;
  width: calc(50% - 50px);
}

#restaurant-name {
  color: var(--main-color);
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-img {
  width: 100%;
  margin: 0;
}

#restaurant-address {
  color: var(--dark-font);
  font-size: 1.2em;
  margin: 4px 0 0 10px;
}

#restaurant-cuisine {
  background-color: var(--main-color);
  color: var(--light-font);
  font-size: 12pt;
  font-weight: 300;
  margin: 0 0 0 0;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 130px 0 0 0;
  width: 50%;
}

#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 50%;
}

#reviews-container h2 {
  color: var(--main-color);
  font-size: 24pt;
  font-weight: 300;
  text-align: center;
  margin: 5px 0 0 5px;
}

/* #reviews-container p {
  color: var(--dark-font);
} */

#reviews-list {
  margin: 0 0 50px 0;
  padding: 10px;
}

#reviews-list li {
  background-color: var(--light-color);
  /* display: block; */
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 10px;
}

#reviews-list li p {
  margin: 5px;
}

#restaurant-hours {
  padding: 10px;
}



/* ------------------------ media query ----------------------------- */
/* On screens 0 - 600px */
@media screen and (max-width: 600px) {

  /* ------------------------ Restaurant Filtering ------------------------ */
  .filter-options {
    grid-template-columns: 1fr;
  }

  /* -------------------------- restaurant list ---------------------- */

  #restaurants-list li {
    padding: 0;
  }

  #restaurants-list li p,
  h1 {
    padding: 0 10px 0;
  }

  #breadcrumb {
    width: 100%;
  }


  /* ====================== Restaurant Details ====================== */

  .inside {
    display: grid;
    grid-template-columns: 1fr;
  }

  .inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
  }

  /* .inside #map-container { */
  .map-detail-cont {
    position: relative;
    height: 300px;
    top: 140px;
    width: 100%;
  }

  /* .inside #map { */
  .map-detail {
    position: relative;
    width: 100%;
  }

  .inside #footer {
    /* bottom: 0; */
    position: relative;
    width: 100%;
  }

  #restaurant-container,
  #reviews-container,
  #map-container,
  #map {
    width: 100%;
    position: relative;
  }

}

/* On screens 0 - 420px */
@media screen and (min-width: 421px) {

  /* ------------------------ Nav ------------------------ */
  nav h1 {
    padding: 20px;
  }

  /* ------------------------ Restaurant Filtering ------------------------ */
  .filter-options {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
  }

  /* -------------------------- restaurant list ---------------------- */
  #restaurants-list {
    grid-gap: 5px;
  }

}

/* On screens 600-900px */
@media screen and (min-width: 700px) {

  #restaurants-list {
    grid-gap: 20px;
  }

}

/* On screens 992px wide or more*/
@media screen and (min-width: 1200px) {

  #maincontent {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .inside #maincontent {
    display: grid;
    grid-template-columns: 25% 25% 50%;
  }

  .inside #restaurant-container,
  .inside #reviews-container {
    width: 100%;
  }

  #reviews-container {
    padding: 150px 0px 50px;
  }

  /* ====================== Map ====================== */

  .map-index-cont {
    position: fixed;
    right: 0;
    top: 77px;

    height: calc(100vh - 140px);
    width: 50%;
  }

  .map-index {
    height: 100%;
    width: 100%;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .filter-options {
    position: fixed;
    top: 76px;
    z-index: 1000;

    width: 50%;
  }

  #restaurants-list {
    margin-top: 140px;
    margin-bottom: 100px;
  }

  #footer {
    bottom: 0;
    position: fixed;
    width: 100%;
  }

}